:root{
  --darkest-color: #1f2937;
  --secondary-color: #525252;
  --light-color: #a3a3a3;
  --lightest-color: #fafafa;
  --sale-color: #dc2626;
}

.pages-content{
  min-height: 50vh;
}


.font-bold{
  font-weight: 600;
}

header:nth-child(1) > div {
  background-color: var(--darkest-color);
  color: var(--lightest-color);
  width: 100vw;
  padding: 1rem;
  text-align: center;
}

.Logo{
  letter-spacing: -1px;
}

nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 3rem 1rem;
  max-width: 1400px;
  margin:auto;
}

nav > ul{
  list-style: none;
  display: flex;
  gap: 1rem;
}

nav >div{
  display: flex;
  gap: 10px;
  align-items: center;
}

.search{
  display: flex;
  align-items: center;
  gap: 7px;
  background-color: var(--lightest-color);
  border: #f3f4f6 1px solid;
  padding: 6px 10px;
  border-radius: 10px;
  color: var(--light-color);
}

.search > input{
  border: none;
  outline: none;
  background-color: transparent;
}

.search > input::placeholder{
  color: var(--secondary-color);
}

footer{
  background-color: var(--lightest-color);
  color: var(--secondary-color);
  max-width: 100%;
}

footer >p{
  text-align: center;
  padding: 1.5rem;
  border: #e7e7e7 1px solid;
  color: var(--light-color);
}

footer .container{
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr 1fr;
  padding: 3rem 1rem;
  max-width: 1400px;
  margin: auto;
}


.container > ul{
  list-style: none;
}

.container > ul > h4{
  font-weight: 700;
  margin-bottom: 1.3rem;
}

.container > ul >li{
  margin-bottom: .8rem;
}

.about>h2{
  margin-bottom: 1.3rem;
}

.filter{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 2rem 0;
}
.filter .selects{
  display: flex;
  align-items: center;
  gap: 10px;
}

#main{
  max-width: 1400px;
  margin : auto;
  padding: 0 1rem;
}

.product-list{
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.product{
  width: 250px;
  color: var(--darkest-color);
  position: relative;
}

.product div:nth-child(2){
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}

.product div:nth-child(3){
  color: var(--light-color);
  display: flex;
  align-items: end;
  justify-content: space-between;
}

/* .product-btn{
  background-color: var(--sale-color);
  color: #fff;
  padding: 5px 10px;
  border-radius: 5px;
  text-decoration: none;
} */
/* need to rethink  */
.product>p{
  background-color: var(--sale-color);
  color: #ffffff;
  text-transform: uppercase;
  padding: 5px;
  font-size: 12px;
  position: absolute;
  top: 10px;
  left: 10px;
  border-radius: 5px;
}

.product-image{
  width: 100%;
  height: 300px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 70%;
  background-color: #ffffff;
  border: #a3a3a3 1px solid;
  border-radius: 10px;
  margin-bottom: 10px;
}